<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>舟游预约</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/vendors/scrolloverflow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.2/fullpage.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>
    <div id="wrap">
        <audio src="http://z8.tanyu.mobi/cjgame/bg.mp3" autoplay="autoplay" loop="loop" preload="auto" controls="controls"></audio>
        <div id="fullpage">
            <div class="section section1">
                <div class="bg">
                    <img src="../assets/img/arrow.png" alt="">
                    <p>下<br/>滑<br/>翻<br/>滚</p>
                </div>
            </div>
            <div class="section section4">
                    <div class="bg">
                        <div class="container">
                            <form action="">
                                <input type="text" placeholder="手机号码" class="phone">
                                <div class="platform">
                                    <label for="android">
                                        <input type="radio" name="plat" id="android" data-os-id='2'>
                                        <img src="../assets/img/section4/pc_area1_3.png" alt="">
                                    </label>
                                    <label for="ios">
                                        <input type="radio" name="plat" id="ios" data-os-id="1">
                                        <img src="../assets/img/section4/pc_area1_2.png" alt="">
                                    </label>
    
                                </div>
                                <button class="submit"></button>
                                <a class="wx" href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUzMDcxODQxNw==&scene=126#wechat_redirect"></a>
                                <a class="tap" href="https://www.taptap.com/app/59628"></a>
                            </form>
                        </div>
                    </div>
                </div>
            <div class="section section2">
                <div class="bg">
                    <div class="container">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../assets/img/section2/1.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="../assets/img/section2/2.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="../assets/img/section2/3.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="../assets/img/section2/4.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-button-prev swiper-left"></div>
                            <div class="swiper-button-next swiper-right"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section3">
                <div class="bg">
                    <div class="container">
                        <div class="swiper-container swiper-container2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../assets/img/section3/5.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="../assets/img/section3/6.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="../assets/img/section3/7.png" alt="">
                                </div>
                                <div class="swiper-slide">
                                    <img src="../assets/img/section3/8.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-button-prev swiper-button-prev2 swiper-left"></div>
                            <div class="swiper-button-next swiper-button-next2 swiper-right"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        <img src="../assets/img/success.png" alt="">
                    </div>
                    <div class="modal-footer">
                        <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzUzMDcxODQxNw==&scene=126#wechat_redirect">
                            <img src="../assets/img/follow.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>